.media-detail {
    height: 95vh;
    &.fancybox__content {
        // fancybox style overrides
        background-color: rgba(#1E1E1E, 0.2);
    }

    .detail-wrapper {
        display: flex;
        justify-content: center;
        gap: 24px;
        height: 100%;
        .detail-content {
            font-family: 'Roboto', sans-serif;
            color: #FFF;
        }
    }
    .media-image {
        flex: 0 1 70%;
        height: 100%;
        img {
            width: 100%;
            max-width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
